<%= javascript "foreman_mco/mcollective_history" %>
<% title _("MCollective History") %>

<% title_actions multiple_mco_actions_select %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :command, :as => s_("Agent and Command") %></th>
    <th><%= sort :created_at, :as => _("Start Time") %></th>
    <th><%= sort :updated_at, :as => _("Last Updated") %></th>
    <th><%= sort :status, :as => _("Status") %></th>
    <th><%= _('Result') %></th>
  </tr>
  <% for command_status in @command_statuses %>
    <tr>
      <td><%= command_status.command %></td>
      <td><%= command_status.created_at %></td>
      <td><%= command_status.updated_at %></td>
      <td><%= command_status.status %></td>
      <td><%= command_status.result %></td>
    </tr>
  <% end %>
</table>

<div id="confirmation-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">×</a>
    <h3><%= _('Please Confirm') %></h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary"><%= _('Submit') %></a>
    <a href="#" class="btn secondary"><%= _('Cancel') %></a>
  </div>
</div>


<%= page_entries_info @command_statuses %>
<%= will_paginate @command_statuses %>
