<% title _("MCollective History") %>

<% if any_commands_run? %>
  <table class="table table-bordered table-striped">
    <tr>
      <th><%= sort :command, :as => s_("Agent/Command") %></th>
      <th><%= sort :created_at, :as => _("Start Time") %></th>
      <th><%= sort :updated_at, :as => _("Last Updated") %></th>
      <th><%= sort :status, :as => _("Status") %></th>
    </tr>
    <% for command_status in @command_statuses %>
      <tr>
        <td><%= link_to_if(!command_status.host_command_statuses.empty?, command_status.command, command_history_detailed_command_histories_path(command_status)) do
                  command_status.command
                end
        %></td>
        <td><%= time_ago_in_words(command_status.created_at.getlocal) %></td>
        <td><%= time_ago_in_words(command_status.updated_at.getlocal) %></td>
        <td><%= command_status.status %></td>
      </tr>
    <% end %>
  </table>

  <div id="confirmation-modal" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">×</a>
      <h3><%= _('Please Confirm') %></h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary"><%= _('Submit') %></a>
      <a href="#" class="btn secondary"><%= _('Cancel') %></a>
    </div>
  </div>
<% else %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>No commands have been run yet!</strong> Select a command from the "Select Action" dropdown above to run your first command.
    </div></strong>
<% end %>

<%= page_entries_info @command_statuses %>
<%= will_paginate @command_statuses %>
