<% title _("Results") %>

<% title_actions %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :host, :as => s_("Host") %></th>
    <th><%= sort :status_code, :as => s_("Status Code") %></th>
    <th><%= sort :status_message, :as => _("Status Message") %></th>
    <th><%= sort :created_at, :as => _("Timestamp") %></th>
    <th><%= _('Result') %></th>
  </tr>
  <% for detail in @details %>
    <tr>
      <td><%= link_to_if(@hosts.has_key?(detail.host), detail.host, @hosts.has_key?(detail.host) ? hash_for_host_path(:id => @hosts[detail.host].id) : {})
          %></td>
      <td><%= detail.status_code %></td>
      <td><%= detail.status_message %></td>
      <td><%= time_ago_in_words(detail.created_at.getlocal) %></td>
      <td><%= detail.result %></td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @details %>
<%= will_paginate @details %>
